.feed {
    flex: 0.6;
    margin: 0 20px;

}

.feed_input {
   
    background-color: lightgray;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    

}

.feed_input form {
   display: flex;
   width: 100%;

}

.feed_input form input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
    border-radius: 30px;
    line-height: 1.5em;
}

.feed_input form button {
    display: none;

}

.feed_inputOptions {
    display: flex;
    justify-content: space-evenly;
    
}